*,*::before,*::after{
    box-sizing: border-box;
  }
.calculator-background{
    height: 700px;
    background:linear-gradient(to right,#00AAff,#00FF6C)
  }
  .calculator-grid{
    display: grid;
    justify-content: center;
    margin-top:1rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
  }
  .span-two{
    grid-column: span 2;
  }
  .output{
    grid-column:1 / -1;
    background-color: rgb(0, 0 , 0,.75);
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
  }